button {
    background-color: blue;
}

button:hover {
    background-color: red;
} 

.header-img {
    width: 80px;
    height: 80px;
    border-radius: 80%; 
      
}

nav {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}

.header-img-div {
    /* border: 1px solid black; */
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 500px;
     
}

header{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    margin: -9px -10px 1px -10px;
}

.creative-p {
    /* display: inline; */
    font-size: 30px;

}

.p-span{
    color: brown;
}

a {
    text-decoration: none;
}

.section-grail {
    border: 1px solid black;
    background-color: skyblue;

}

.header-grail {

    border: 1px solid black;
    background-color: blue;
    height: 100px;
    text-align: center;
    
    /* width: 100px; */
}

.flex-grail {
    border: 1px solid black;
    background-color: brown;
    display: flex;
}

.flex-grail-1 {
    border: 1px solid black;
    background-color: pink;
    height: 300px;
    width: 400px;

}

.p-flex-grail-1 {
    justify-content: center;
    text-align: center;
}


.flex-grail-2 {
    border: 1px solid black;
    background-color: green;
    height: 300px;
    width: 700px;
    text-align: center;
}

.p-flex-grail-2 {
    text-align: center;

}

.flex-grail-3 {
    border: 1px solid black;
    background-color: pink;
    height: 300px;
    width: 400px;
    text-align: center;

}

.p-flex-grail-3 {
    align-self: center;
}

.footer-grail {
    border: 1px solid black;
    background-color: skyblue;
    height: 100px;
    text-align: center;


}